/* App.css */
*{
  list-style: none;
}
.app {
  margin: 80px auto 0; /* Aggiungi un margine superiore di 80px */
  max-width: 800px;
  padding: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 999; /* Assicura che l'header sia sempre visibile sopra gli altri elementi */
}

 svg {
  font-size: 25px;
 
}


.header .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 30px; /* Aumenta la dimensione del testo del logo */
  font-weight: bold;
}

/* Resto dello stile rimane invariato */

.manga-list {
  display: grid;
  grid-template-columns: repeat(4, 25%); /*auto-fill, minmax(250px, 1fr*/
  gap: 20px;
}

.manga-card {
  border-radius: 10px;
  background-color: #444;
  padding: 10px;
}

.manga-card a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.manga-card a:hover {
  color: #ff9900;
}

.manga-card img {
  width: 100%;
  height:270px;
  border-radius: 10px;
  margin-bottom: 10px;

}

.manga-card span {
  display: inline-block;
  background-color: #ff9800;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.manga-card h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}


.hamburger-menu {
  background-color: #333;
  width: 200px;
  height: 100vh;
  justify-content: center;
  position: fixed;
  margin-top: 70px;
  top: 0;
  left: -100%;
  transition: 850ms;
  overflow-y: auto;
}

.hamburger-menu.active {
  left: 0;
  transition: 350ms;
}

.hamburger-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  background: none;
  border: none;
}
.hamburger-text:focus {
  outline: none; /* Rimuove l'outline/focus al click */
}
.hamburger-text span {
  margin-right: 15px; /* Aggiungi spazio a destra del testo */
}



.hamburger-menu-items {
  width: 100%;
  overflow-y: auto;
  padding-bottom: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hamburger-menu::-webkit-scrollbar {
  display: none;
}

.hamburgerbar-toggle {
  background-color: #444;
  width: 60%;
  height: 50px;
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
}


span {
  margin-left: 16px;
}


.user-menu {
  background-color:#333;
  width: 160px;
  height: 15vh;
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: 60px;
  top: 0;
  right: -100%;
  transition: 850ms;
  border-radius: 10px;
}

.user-menu.active {
  right: 0;
  transition: 350ms;
}



.user-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}



.user-menu-items {
  width: 100%;

}


.manga-info {
  display: flex;
}

.manga-info img {
  border-radius: 15px;
  height:100%;
}

.manga-info ul {
  list-style: none;
  font-size: large;
}

#Yui{
  height:250px
}

/* searchvar */
.search-dropdown-list {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 50%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #333; /* Colore di sfondo scuro */
  color: #fff; /* Colore del testo */
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.search-dropdown-list li:hover {
  background-color: #444; /* Colore di sfondo scuro più scuro al passaggio del mouse */
}


.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}