.hamburger-menu {
    background-color: #333;
    width: 200px;
    height: 100vh;
    justify-content: center;
    position: fixed;
    margin-top: 70px;
    top: 0;
    left: -100%;
    transition: 850ms;
    overflow-y: auto;
  }
  
  .hamburger-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .hamburger-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    background: none;
    border: none;
  }
  .hamburger-text:focus {
    outline: none; /* Rimuove l'outline/focus al click */
  }
  .hamburger-text span {
    margin-right: 15px; /* Aggiungi spazio a destra del testo */
  }
  
  
  
  .hamburger-menu-items {
    width: 100%;
    overflow-y: auto;
    padding-bottom: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .hamburger-menu::-webkit-scrollbar {
    display: none;
  }
  
  .hamburgerbar-toggle {
    background-color: #444;
    width: 60%;
    height: 50px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-items: center;
  }
  