.mangaDisplay {
    display: flex;
    flex-direction: column;
    width: auto;
}

.mangaDisplay h3 {
    align-self: center;
}

.pageControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
    margin: 20px;
    text-align: center;
}

.pageControl span {
    margin: auto;
}

.manga-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /*auto-fill, minmax(250px, 1fr*/
    gap: 20px;
}

.manga-card {
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
    padding: 10px;
    width: auto;
}

.manga-card a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.manga-card a:hover {
    color: #ff9900;
}

.manga-card img {
    width: 160px;
    height: 270px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.manga-card span {
    display: inline-block;
    background-color: #ff9800;
    color: rgb(51, 51, 51);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.manga-card h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}