.mangaDisplay {
    display: flex;
    flex-direction: column;
    width: auto;
}


.manga-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    margin-bottom: 10px;
}

.manga-card {
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
    padding: 10px;
    width: 180px;
    height: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.manga-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.manga-card a {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
}

.manga-card:hover {
    background-color: rgb(102, 102, 102);
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    height: auto;
}


.manga-card:hover h3 {
    font-size: 12px;
    font-weight: small;
    overflow: visible;
    white-space: wrap;
}

.manga-card a:hover {
    color: #ff9900;
}

.manga-card img {
    width: 160px;
    height: 270px;
    border-radius: 10px;
    margin-bottom: 10px;
}
