.user-menu {
    background-color:#333;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 60px;
    top: 0;
    right: -100%;
    transition: 850ms;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  }
  
  .user-menu.active {
    right: 0;
    transition: 350ms;
  }

  
  .user-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  
  
  .user-menu-items {
    margin-top: 25px;
    width: 100%;
  
  }

  .log-out {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  #Yui{
    height:250px
  }